.infoBox {
  flex: 1;
}

.infoBox:not(:last-child) {
  margin-right: 10px;
}

.infoBox--selected {
  border-top: 10px solid rgb(125, 155, 80);
  /* background-color: rgb(0, 0, 0); */
}

.infoBox--red {
  border-color: rgb(160, 7, 7);
}

.infoBox__cases--green {
  color: rgb(100, 158, 100) !important;
}

.infoBox__cases {
  color: #e44663;
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

.infoBox__total {
  color: #347dbd;
  font-weight: 700 !important;
  font-size: 0.8rem !important;
  margin-top: 15px !important;
}
